header{
    display: flex;
    justify-content: space-between;
}
/* logo */
div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
div.logo img{
    height: 75%;
    width: auto;
}
/* busca */
div.divbusca, div.comandos{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
div.divbusca{
    justify-content: center;
    height: 100%;
}
div.divbusca input, .btbusca{
    border: none;
    background-color: #F1F1F2;
    height: 3rem;
    padding: 0 1.5rem;
}
div.divbusca input{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ccc;
    border-radius: 30px 0px 0px 30px;
}

.btbusca{
    font-size: 15px;
    border-radius: 0px 30px 30px 0px;
}
.btbusca img{
    height: 1rem;
}
/* Comandos */

.comandos button.bt{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    height: 2.4rem;
    padding: 0 1.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}
div.comandos{
    justify-content: space-between;
    width: 280px;
}
.comandos button img{
    height: 25px;
}

.comandos button.btimg{
    background-color: transparent;
    border: none;
}


.comandos button#carregar{
    background-color: #fff;
}
.comandos button#carregar b{
    font-size: 20px;
}
.comandos button#entrar{
   color: #fff;
   background-color: red;
   border-color: red;
}

